# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db 